@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	
	background-image: url(./images/bg-intro-desktop.png);
	background-color: hsl(0, 100%, 74%);
	font-size: 16px;
}

.container {
	padding: 0 10rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.left {
	width: 50%;
	margin: 0 2rem 0 0;
}

.right {
	width: 50%;
	margin: 2rem 0 0 2rem;
	height: 550px;
}

h1 {
	font-size: 50px;
	font-weight: 700;
	line-height: 1.1;
	color: #ffffff;
	margin-bottom: 1.5rem;
}

.left p {
	color: #ffffff;
	font-weight: 500;
	line-height: 1.7;
}

.top-btn {
	background: #5e54a4;
	box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
	border-radius: 10px;
	color: #fff;
  min-width: 100%;
	padding: 17px 0px;
	font-weight: 400;
	border: none;
	cursor: pointer;
	margin-bottom: 32px;
}

.top-btn span {
	font-weight: 700;
}

.form {


min-width: 325px;
	position: relative;
	padding: 40px;
	background: #ffffff;
	box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
	border-radius: 10px;
}

.terms {
	color: #bab7d4;
	font-size: 11px;
	text-align: center;
}

.terms strong:hover {
  cursor: pointer;
}

.form strong {
	color: #ff7979;
}

.input-container {
	margin: 0 0 1.5rem 0;
	position: relative;
}

input {
	width: 100%;
	padding: 1rem;
	border-radius: 5px;
	border: 1px solid #dedede;
}

input::placeholder {
	font-weight: 600;
}

.error-icon {
	position: absolute;
	top: 11px;
	right: 27px;
  display: none;
}



.form-btn {
	background: #38cc8b;
	box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
	border-radius: 5px;
	width: 100%;
	padding: 17px 0;
	font-weight: 400;
	border: none;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 1rem;
  transition: all .3s;
}

.form-btn:hover {
  background-color:  #77E2B3;
}

/* ******** ACTIVE STATE ********** */

.error {
	font-size: 11px;
	color: #ff7979;
	font-weight: 500;
	font-style: italic;
	text-align: right;
	margin-top: 6px;
  display: none;
}

.active-state {
  display: block;
}


/* ********* MEDIA QUERY ********** */

@media only screen and (max-width: 1000px) {
  .right {
    width: 90%
  }

  .left {
    width: 90%;
  }
}

@media only screen and (max-width: 756px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 7rem 0 5rem 0;
  }

  .left {
    width: 90%;
    text-align: center;
    margin: 0 0 5rem 0;
  }


  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    
    margin: 0;
  }

  .form {
    min-width: 340px;
  }

  .top-btn {
   min-width: 340px;
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
   .container {
    height:auto;
    margin: 7rem 0 5rem 0;
   }

    h1 {
      font-size: 28px;
    }

    .left p {
      font-size: 16px;
    }

    .top-btn {
      padding: 2rem
  }
}


.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
